<xml id="toolbox" style="display: none">' 

    <category name="Robot" colour="#2196F3">
        <block type="move_forward">
        <value name="VALUE">
            <block type="math_number">
            <title name="NUM">100</title>
            </block>
        </value>
        </block>
        <block type="move_backward">
        <value name="VALUE">
            <block type="math_number">
            <title name="NUM">100</title>
            </block>
        </value>
        </block>
        <block type="turn_right">
        <value name="VALUE">
            <block type="math_number">
            <title name="NUM">90</title>
            </block>
        </value>
        </block>
        <block type="turn_left">
        <value name="VALUE">
            <block type="math_number">
            <title name="NUM">90</title>
            </block>
        </value>
        </block>
        <block type="pen_down"></block>
        <block type="pen_up"></block>
        <block type="led_colour_on">
        <value name="VALUE">
            <block type="colour_picker">
            <title name="COLOUR">#FF0000</title>
            </block>
        </value>
        </block>
        <block type="led_colour_off"></block>
        <block type="play_tone">
        <value name="VALUE">
            <block type="math_number">
            <title name="NUM">1</title>
            </block>
        </value>
        </block>
        <block type="sleep">
        <value name="VALUE">
            <block type="math_number">
            <title name="NUM">1</title>
            </block>
        </value>
        </block>
    </category>

    <sep></sep>

    <category name="Bucles" colour="#ED1164">
        <block type="controls_repeat_ext">
        <value name="TIMES">
            <block type="math_number">
            <title name="NUM">4</title>
            </block>
        </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
        <value name="FROM">
            <block type="math_number">
            <title name="NUM">1</title>
            </block>
        </value>
        <value name="TO">
            <block type="math_number">
            <title name="NUM">10</title>
            </block>
        </value>
        <value name="BY">
            <block type="math_number">
            <title name="NUM">1</title>
            </block>
        </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
    </category>

    <category name="Lógica" colour="#A429AE">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
        <block type="logic_null"></block>
        <block type="logic_ternary"></block>
    </category>

    <category name="Matemática" colour="#FFC60A">
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
        <block type="math_number_property"></block>
        <block type="math_round"></block>
        <block type="math_modulo"></block>
        <block type="math_constrain">
        <value name="LOW">
            <block type="math_number">
            <title name="NUM">1</title>
            </block>
        </value>
        <value name="HIGH">
            <block type="math_number">
            <title name="NUM">100</title>
            </block>
        </value>
        </block>
        <block type="math_random_int">
        <value name="FROM">
            <block type="math_number">
            <title name="NUM">1</title>
            </block>
        </value>
        <value name="TO">
            <block type="math_number">
            <title name="NUM">100</title>
            </block>
        </value>
        </block>
        <block type="math_random_float"></block>
        <block type="math_single"></block>
        <block type="math_trig"></block>
        <block type="math_constant"></block>
        <block type="math_on_list"></block>
    </category>

    <category name="Colores" colour="#A0783F">
        <block type="colour_picker">
        <title name="COLOUR">#FF0000</title>
        </block>
        <block type="colour_random"></block>
        <block type="colour_rgb">
        <value name="RED">
            <block type="math_number">
            <field name="NUM">100</field>
            </block>
        </value>
        <value name="GREEN">
            <block type="math_number">
            <field name="NUM">50</field>
            </block>
        </value>
        <value name="BLUE">
            <block type="math_number">
            <field name="NUM">0</field>
            </block>
        </value>
        </block>
    </category>

    <category name="Variables" colour="#38B549" custom="VARIABLE"></category>

    <category name="Listas" colour="#845EC2">
        <block type="lists_create_with">
        <mutation items="0"></mutation>
        </block>
        <block type="lists_create_with"></block>
        <block type="lists_repeat">
        <value name="NUM">
            <block type="math_number">
            <title name="NUM">5</title>
            </block>
        </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf"></block>
        <block type="lists_getIndex"></block>
        <block type="lists_setIndex"></block>
        <!--
        <block type="lists_getSublist">
        <value name="LIST">
            <block type="variables_get">
            <field name="VAR"></field>
            </block>
        </value>
        </block>
        <block type="lists_split">
        <value name="DELIM">
            <block type="text">
            <field name="TEXT">,</field>
            </block>
        </value>
        </block>
        -->
        <block type="lists_sort"></block>
    </category>

    <category name="Funciones" colour="#004EB6" custom="PROCEDURE"></category>

    <category name="Texto" colour="#FF9400">
        <block type="text"></block>
        <block type="text_print"></block>
        <block type="text_join"></block>
        <block type="text_append">
        <value name="TEXT">
            <block type="text"></block>
        </value>
        </block>
        <block type="text_prompt"></block>
        <block type="text_length">
        <value name="VALUE">
            <block type="text">
            <field name="TEXT">abc</field>
            </block>
        </value>
        </block>
        <block type="text_isEmpty">
        <value name="VALUE">
            <block type="text">
            <field name="TEXT"></field>
            </block>
        </value>
        </block>
        <!--
        <block type="text_indexOf">
        <value name="VALUE">
            <block type="variables_get">
            <field name="VAR">text</field>
            </block>
        </value>
        <value name="FIND">
            <block type="text">
            <field name="TEXT">abc</field>
            </block>
        </value>
        </block>
        <block type="text_charAt">
        <value name="VALUE">
            <block type="variables_get">
            <field name="VAR">text</field>
            </block>
        </value>
        </block>
        <block type="text_getSubstring">
        <value name="STRING">
            <block type="variables_get">
            <field name="VAR">text</field>
            </block>
        </value>
        </block>
        <block type="text_changeCase">
        <value name="TEXT">
            <block type="text">
            <field name="TEXT">abc</field>
            </block>
        </value>
        </block>
        -->
        <block type="text_trim">
        <value name="TEXT">
            <block type="text">
            <field name="TEXT">abc</field>
            </block>
        </value>
        </block>
    </category>

</xml>