<html dir="ltr" lang="es">
<head>
  <meta charset="utf-8">
  <title>Minirobots - Turtle Editor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/editor/style.css">
  <link rel="shortcut icon" href="/static/editor/minirobots-icon.png">
</head>
<body>

  <div id="csrf">{% csrf_token %}</div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Cargar programa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            {% for program in programs %}
            <li><a href="/editor/?uuid={{ program.uuid }}">{{ program.name }}</a> {{ program.updated_at }} {% if program.image %}<img src="{{ program.image.url }}" width="100px"/>{% endif %}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saveModalLabel">Guardar programa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="program-name" class="col-form-label">Nombre</label>
              <input type="text" class="form-control" id="program-name">
            </div>
            <div class="mb-3">
              Image:<br /><img src="" id="program-image" style="border: 1px solid #eee" width="200px"/>
            </div>
            <div class="mb-3">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="program-public">
                <label class="form-check-label" for="program-public">Compartir</label>
              </div>
            </div>
            <div class="mb-3">
              Ultima actualización: <span id="program-updated-at"></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="program-save">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="configModalLabel">Configurar el editor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="robot-ip" class="col-form-label">Código o IP del robot</label>
              <input type="text" class="form-control" id="robot-ip">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="config-save">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #2196F3;" id="navmenu">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="margin:0em 0.6em 0.6em 0.3em;">
        <img src="/static/images/minirobots-icon-transparent.png" width="90"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0" style="margin-left:1em;">
          <li class="nav-item m-2">
            <button title="Cargar un programa" id="load-button" type="button" class="emoji btn btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">📂</button>
          </li>
          <li class="nav-item m-2">
            <button title="Guardar el programa" id="save-button" type="button" class="emoji btn btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#saveModal">💾</button>
          </li>
          <li class="nav-item m-2">
            <button title="Configurar el editor" id="config-button" type="button" class="emoji btn btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#configModal">🔧</button>
          </li>
        </ul>
        <div class="d-flex menu-user">
          {% if request.user.is_authenticated %}
          <span class="navbar-text">
            Hola {{ request.user.username }}!
            •
            <a class="nav-link active" href="{% url 'account_logout' %}">Salir</a>
          </span>
          {% else %}
          <span class="navbar-text">
            Hola!
            •
            <a class="nav-link active" href="{% url 'account_login' %}">Entrar</a>
          </span>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <main>

    <div class="container-fluid">
      <div class="row row-cols-1">

        <div class="col col-md-8 g-0">
          {% include 'editor/editor_menu.html' %}
          <div id="blockly"></div>
        </div>

        <div class="col col-md-4 g-0" id="canvas">
          <div id="canvas-container">
            <img id="spinner" src="/static/editor/loading.gif"/>
            <canvas id="scratch" width="600" height="600" style="display:none"></canvas>
            <canvas id="display" width="600" height="600"></canvas>
          </div>
          <div>
            <textarea id="debugger" placeholder="Consola" style="min-width: 100%" readonly></textarea>
          </div>
          <div>
            <div class="text-center" style="margin-top:1em">
              <button id="runButton" title="Probar programa" class="btn btn-primary m-1" onclick="Turtle.runButtonClick();">Ejecutar</button>
              <button id="stopButton" title="Parar la prueba" class="btn btn-danger m-1" onclick="Turtle.stopButtonClick();" style="display:none">Parar</button>
              <button id="clearButton" title="Borrar dibujo" class="btn btn-success m-1" onclick="Turtle.clearButtonClick();" style="display:none">Borrar</button>
              <button id="sendButton" title="No hay un robot conectado" class="btn btn-primary m-1" onclick="Turtle.sendButtonClick()" disabled="disabled">Enviar al Robot</button>
              <button id="cancelButton" title="Cancelar ejecución del programa" class="btn btn-danger m-1" onclick="Turtle.cancelButtonClick()" style="display:none">Detener el Robot</button>
            </div>
            <div class="text-center" style="margin:2em;">
              <img src="/static/editor/speed.png"/><br />
              <input type="range" id="speed" name="volume" min="0" max="1000" value="500" step="50" class="slider">
            </div>
          </div>
        </div>

      </div>
    </div>

  </main>

  <script type="text/javascript" src="/static/editor/js/config.js"></script>
  <script type="text/javascript" src="/static/editor/js/turtle.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/blockly_compressed.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/blocks_compressed.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/msg/js/es.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/generators/javascript.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/generators/javascript/control.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/generators/javascript/colour.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/generators/javascript/logic.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/generators/javascript/math.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/generators/javascript/lists.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/generators/javascript/variables.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/generators/javascript/procedures.js"></script>
  <script type="text/javascript" src="/static/editor/blockly/generators/javascript/text.js"></script>
  <script type="text/javascript" src="/static/editor/js/common.js"></script>
  <script type="text/javascript" src="/static/editor/js/blocks.js"></script>
  <script type="text/javascript" src="/static/editor/js/file-saver.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script type='text/javascript'>

    const init = () => {
      Turtle.init();

      {% if program %}
      const decodeHtml = (html) => {
        let txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
      };
      Turtle.setWorkspace({
        code: decodeHtml("{{ program.code }}"),
        name: "{{ program.name }}",
        uuid: "{{ program.uuid }}",
        public: {{ program.public|yesno:"true,false" }},
        updatedAt: "{{ program.updated_at }}",
      });
      {% endif %}

    }

    window.addEventListener('load', init);
  </script>

</body>
</html>
