{% load wagtailimages_tags %}

<div class="carousel-item {% if forloop.first %}active{% endif %}">
  {% image self.image fill-1200x300 as image %}
  {% if self.url %}
  <a href="{{ self.url }}" class="stretched-link">
    <img src="{{ image.url }}" class="d-block w-100" alt="{{ image.alt }}">
  </a>
  {% else %}
  <img src="{{ image.url }}" class="d-block w-100" alt="{{ image.alt }}">
  {% endif %}
  {% if self.title or self.body %}
  <div class="carousel-caption d-none d-md-block">
    <h5>{{ self.title }}</h5>
    <p>{{ self.body }}</p>
  </div>
  {% endif %}
</div>