{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block banners %}
{% if page.show_banners %}

<div class="row g-0">
  <div id="bannersHome" class="carousel slide{% if page.show_banners_fade_transition %} carousel-fade{% endif %}" data-ride="carousel">
    {% if page.show_banners_indicators %}
    <ol class="carousel-indicators">
      {% for banner in page.banners %}
      <button type="button" data-bs-target="#bannersHome" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-current="true" aria-label="Slide 1"></button>
      {% endfor %}
    </ol>
    {% endif %}
    <div class="carousel-inner">
      {% for banner in page.banners %}
      {% include_block banner %}
      {% endfor %}
    </div>
    {% if page.show_banners_controls %}
    <button class="carousel-control-prev" type="button" data-bs-target="#bannersHome" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannersHome" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}



{% block content %}
<h4 class="color-blog mt-2">Blog</h4>
<div class="row row-cols-1 row-cols-md-4">
  {% for post in blog_posts %}
  <div class="col">
    <div class="card h-100">
      {% image post.image fill-200x200 as image %}
      <img src="{{ image.url }}" class="card-img-top" alt="{{ image.alt }}">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ post.url }}" class="color-blog stretched-link">{{ post.title }}</a></h5>
        <p class="card-text">{{ post.intro }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<h4 class="color-tutorial mt-4">Guías</h4>
<div class="row row-cols-1 row-cols-md-4">
  {% for post in tutorial_posts %}
  <div class="col">
    <div class="card h-100">
      {% image post.image fill-200x200 as image %}
      <img src="{{ image.url }}" class="card-img-top" alt="{{ image.alt }}">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ post.url }}" class="color-tutorial stretched-link">{{ post.title }}</a></h5>
        <p class="card-text">{{ post.intro }}</p>
      </div>
    </div>
    </div>
  {% endfor %}
</div>

{{ page.body|richtext }}

{% endblock %}


{% block extra_js %} 
{% endblock %}