{% load wagtailimages_tags %}

<div class="container mb-sm-5 mt-sm-5">
     <div class="row">
         <div class="col-md-10 offset-md-1 col-sm-12">
             <h2>{{ self.title }}</h2>
             <p>{{ self.body }}</p>
             {% image self.image width-300 as image %}
             <img src="{{ image.url }}" alt="{{ image.alt }}">
         </div>
     </div>
 </div>
