@font-face{
  font-family: "EmojiSymbols";
  src: url(/static/editor/EmojiSymbols-Regular.woff) format("woff");
  text-decoration: none;
  font-style: normal;
}

body {
  background-color: #F6F6F6;
}

#canvas-container {
  background-color: white;
  position: relative;
}

#spinner {
  position: absolute;
  visibility: hidden;
  bottom: 10px;
  right: 10px;
}

.tab {
  padding: 4px 10px 1px;
  text-decoration: none;
}
.levelLine {
  border-bottom: solid 1px #ddd;
}
#selected {
  font-weight: bold;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#hint,
#capacity {
  font-style: italic;
}
#capacityNumber {
  font-weight: bold;
}
#bubble {
  width: 385px;
  padding: 7px;
  border: 1px solid #CCB;
  border-radius: 15px;
  background-color: #ff7;
}

/* Blockly */
#blockly *,
#blockly *:before,
#blockly *:after {
  box-sizing: content-box;
}

#display {
}

.blocklyTreeRow,
.blocklyTreeLabel,
.blocklyFlyout .blocklyDraggable,
.blocklyFlyout .blocklyPath,
.blocklyFlyout .blocklyPathDark,
.blocklyFlyout .blocklyPathLight,
.blocklyFlyout .blocklyText,
.blocklyFlyout rect {
  cursor: pointer;
}

/* Slider. */
#slider {
  cursor: pointer;
}
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.code {
  height: 21px;
  width: 21px;
  background-image: url(/static/editor/icons.png);
  background-position: -42px 0px;
}
.link {
  height: 21px;
  width: 21px;
  background-image: url(/static/editor/icons.png);
  background-position: -21px 0px;
}

/* Blockly */
.blocklyTreeRow {
  padding: 10px;
}
.blocklyTreeLabel {
  font-size: 1em;
  color: #333;
}

/* Load and Save */
.emoji {
  font-family: "EmojiSymbols";
  color: #343434;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 138px;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #eeeeee;
  cursor: pointer;
  border: 1px solid #cccccc;
}

#debugger {
  width: 100%;
  min-width: 402px;
  max-width: 402px;
  height: 100px;
  min-height: 50px;
  padding: 5px;
  border: none;
  background: #ddd;
  color: #333;
  overflow-y: scroll;
}


.btn-primary {
  background-color: #2196F3;
  border-color: #2196F3;
}

.btn-danger {
  background-color: #ED1164;
  border-color: #ED1164;
}

.btn-success {
  background-color: #38B549;
  border-color: #38B549;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.menu-user {
  margin-right: 1em;
}

.menu-user .navbar-text, 
.menu-user .active {
  color: #FFF ! important;
}

.menu-user a {
  display: inline;
  margin: 0;
  padding: 0;
}

.menu-user a:hover {
  text-decoration: underline;
}

