{% extends "tutorials/base.html" %}

{% load wagtailimages_tags %}

{% block content %}

    <div class="container">
        {% for post in posts %}
            <div class="row mt-5 mb-5">
                <div class="col-sm-3">
                    {% image post.image fill-250x250 as tutorial_img %}
                    <a href="{{ post.url }}">
                        <img src="{{ tutorial_img.url }}" alt="{{ tutorial_img.alt }}">
                    </a>
                </div>
                <div class="col-sm-9">
                    <a href="{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                        {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
                        <a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
