{% extends "tutorials/base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    {% image self.image fill-1200x300 as banner %}
    <img src="{{ banner.url }}" alt="{{ banner.alt }}" style='width: 100%; height: auto;'>

    <div class="container mt-5 mb-5">
        <div class="text-center">
            <h1>{{ self.title }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3>{{ self.date }}</h3>
            <div class="">
                {{ self.body|richtext }}
            </div>
        </div>
    </div>
{% endblock %}
