{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />

        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <link href="src="{% static 'images/minirobots-icon.png' %}" rel="icon">
        <link href="{% static 'css/minirobots.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">

        {# Global stylesheets #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/minirobots.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
          <div class="container d-flex justify-content-between">

            <div class="logo">
              <a href="/"><img src="{% block logo %}{% static 'images/minirobots-logo-blue-transparent.png' %}{% endblock %}" alt="Minirobots" class="img-fluid"></a>
            </div>

            <nav class="nav-menu">
              <ul>
                <li class="nav-menu-home"><a href="/" class="{% block home_active %}active{% endblock%}">Home</a></li>
                <li class="nav-menu-blog"><a href="/blog" class="{% block blog_active %}{% endblock %}">Blog</a></li>
                <li class="nav-menu-tutorials"><a href="/tutorials" class="{% block tutorials_active %}{% endblock %}">Guías</a></li>
                <li class="nav-menu-contact"><a href="/contact" class="{% block contact_active %}{% endblock %}">Contacto</a></li>

                <li class="get-started"><a href="/editor">A programar!</a></li>
              </ul>
            </nav>

          </div>
        </header><!-- End Header -->

        <!-- ======= Banners Section ======= -->
        {% block banners %}{% endblock %}

        <main style="background: #f8f9fa">
          <!-- ======= Content Section ======= -->
          <section id="content" class="d-flex">
            <div class="container">
              <div class="row">
              {% block content %}{% endblock %}
              </div>
            </div>
          </section><!-- End Content -->
        </main>

        <!-- ======= Footer Section ======= -->
        <footer class="text-muted py-5">
          <div class="container">
            <p class="float-right mb-1">
              <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
          </div>
        </footer>

        {# Global javascript #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
